h1{
    color:hotpink;
    font-size:50px;
    font-weight:bold;
    font-family:"impact";
    text-align:center;
    background-color:lightblue;
}

h2{
    color:gray;
    font-size:25px;
    font-weight:bold;
    font-family:"impact";
    text-align:center;
    background-color:lightgreen;
}

h3{
    color:red;
}

p{
    color:aqua;
}

body{
    background-image: url("../images/mokume.jfif");
    background-repeat: repeat;
    background-attachment: fixed;
}